@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

.title-container {
    min-height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.title-container a {
    text-decoration: none;
}

.calculator-container {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 3px solid black;
    box-shadow: 0px 0px 50px currentColor;
    border-radius: 15px;
    max-width: 350px;
    max-height: 550px;   
    background-color: #198754;
}

.display { 
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 1000;
}

.previous-display {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    padding: 0.5rem;
    height:70px
}

.current-display {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    height:70px

}

.btns-container {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 75px);
}

.btns-container button {
    border: 1px solid black;
    font-size: 2rem;
    background-color: #198754;
    color: white;
    font-weight: 1000;
}

.btns-container button:hover {
    background-color:  rgb(171, 250, 224);
    color:black;
}

.clear-btn {
    border-bottom-right-radius: 15px;
    width: 225px;
}

.equal-btn {
    border-bottom-left-radius: 15px;
}

.about-container {
    text-align: center;
}